<h1>Hey what's ya song called NOW?</h1>

<form method="POST" action="/songs/<%= @song.slug %>">
<input type="hidden" id="hidden" name="_method" value="patch">
<label>New song name:</label>
<input type="text" name="song[name]" id="Name" value="<%= @song.name %>">
<br>
<label>New artist name:</label>
<input type="text" name="song[artist][name]" id="Artist Name" value="<%= @song.artist.name %>">
<br>


<% Genre.all.each do |genre| %>
	<input type="checkbox" id = "<%= genre.name %>" name="song[genres][genre_ids][]" value="<%= genre.id %>" <%='checked' if @song.genres.include?(genre)%>><%= genre.name %></input>
<% end %>

<br>
<label>Create a new genre?</label>
<input type="text" name="song[genres][name][]" id="new_genre">

<br>
<input type="submit" value="Save">

</form>
